html, body
{
    font-family: sans-serif;
    font-size: 100%;
    height: 100%;
}
.fill{
    min-height: 90vh;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-color: #2dd1c3;
    padding: 0 !important;
    border: 10px black;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: white !important;
    font-weight: 600;
    float: right;
    text-align:left;
}
.navbar-brand 
{
    color: white !important;
    font-weight: 700; 
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.fa-bars
{
    color: white;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
/*--------------------banner section-----------------*/

.desk-img{
width: 100%;

}
.heading
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100;
}
.masthead {
    width: auto;
    height: 70vh;
    background-image: url(images/desk2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 320px) {
    /* styles for narrow screens */
    width: auto;
    height: 40vh;
    background-image: url(images/desk2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 
  .line-1{
      position: absolute;
      top: 0;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 4vw !important;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      color: #2dd1c3;
        
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44)  normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 14em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


/*--------------------About me section-----------------*/
.intro
{
    font-size: 130% !important;
    font-weight: 400;  
}
.me-img
{
    width: auto;
    height: 100%;
    margin-top: 5%;
    transform: translate(40%, 0)

}

/*----------------------Other pages------------------*/ 
#about-me{
    padding: 30px;
}

#projects{
    padding: 30px;
}

#skills{
    padding: 30px;
}

.subheadings
{
    margin-right: 10px;
    padding-right: 10px;
    color:  #2dd1c3;
}
.body-text
{
    margin-top: 5%;
    color: black;
    font-size: 110%
}
.project-img
{
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20%;
}
.tag-img{
width: 100px;
}
.tag1-img{
    margin-top: 16px;
width: 100px;
}

.skills-img
{
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.small-headings
{
    color: grey;
}

.box{
margin-top: 5%;
}

/*--------------------------contacts section--------------------*/
#contact 
{
    background: #f8f9fa;
    padding: 60px 0;
}
#contact img
{
margin: 5px;
    width: 50px;
}
#contact p{
    color: #575757;
    margin:10px;
}
